
------

# Lists, Dictionaries


### Table of Contents


1 - [Lists](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 - [List Iteration and Slicing `[ : ]`](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 - [Adding Elements](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.3 - [Deleting Elements](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.4 - [Length of a list](#subsection4)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.5 - [Operations on a list](#subsection5)<br>

2 - [Dictionaries](#section2)<br> 

3 - [Challenge: Storing Directions for Our Game](#section3)<br>

In [97]:
# RUN THIS CELL;

###DO NOT MODIFY###
import numpy as np
from matplotlib import pyplot as plt
from jupyter_utils import *
%matplotlib inline

---
## Lists<a id='section1'></a>

List is a data structure that allows you to save multiple objects. In comparison with strings, lists can contain different data types/objects. Strings can only store textual data.

In [98]:
# EXAMPLE

new_lst = [2, "name", 3, "berkeley"]
new_lst

[2, 'name', 3, 'berkeley']

In [99]:
# here's how you can create an empty list

empty_lst = []
empty_lst

[]

Discussion: Why would you want to have an empty list?

Don't ever call your list "list". This is a reserved name for a function in Python. It is easy to tell (in Jupyter Notebooks) whether something is a function/method. When you enter it, it will be in green in your code cell.

In [100]:
list

list

Let's see how we can use this function on a string. Save your name in the variable "name" first.

In [101]:
# EXERCISE

name = "My Name"

list(name)

['M', 'y', ' ', 'N', 'a', 'm', 'e']

Discuss: Looking at the above example, what do you think the `list` function is doing?

Every value that is stored in the list has its "address", also known as its index position. By using the index position, we can get any particular value from the list. 

All index value starts from 0. Python reads the list from left to right in default. If we want to call a value stored in a specific index position, we have to specify the index position with the variable name.

In [102]:
# EXAMPLE

teamColors = ["Purple", "Blue", "Green", "Yellow"]
teamColors

['Purple', 'Blue', 'Green', 'Yellow']

In [103]:
teamColors[0]

'Purple'

In [104]:
# EXERCISE

#Grab "Green" from the teamColors list

teamColors[2]

'Green'

In [105]:
# EXERCISE

#Grab "Yellow" from the teamColors list

teamColors[3]

'Yellow'

Another way we can use lists, is to store data that belongs together, For example instead of having a variable `pos_x` and another `pos_y`, we can save them in a single list `position = [pos_y, pos_x]`

In [106]:
# EXAMPLE

pos_x = 0
pos_y = 1

position = [pos_x, pos_y]
position

[0, 1]

### 1.1 List Iteration and Slicing `[ : ]`<a id='subsection1'></a>

In [107]:
# Let's make a list of all of the BLDAP apprentices. 

apprentices = ['Alejandro', 'Ananda', 'Angela', 'Christopher', 'Eric', \
               'Eric', 'Evelynn', 'Fernando', 'Gregory', 'Jason', 'Katherine', \
               'Klade', 'Naod', 'Pawandeep', 'Riley', 'Ryan', 'Sophie',\
              'Tammy', 'Timothy', 'Vivian', 'Vivian', 'Zena']
print(apprentices)

['Alejandro', 'Ananda', 'Angela', 'Christopher', 'Eric', 'Eric', 'Evelynn', 'Fernando', 'Gregory', 'Jason', 'Katherine', 'Klade', 'Naod', 'Pawandeep', 'Riley', 'Ryan', 'Sophie', 'Tammy', 'Timothy', 'Vivian', 'Vivian', 'Zena']

To iterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [108]:
# remember that Python, like many programming languages, starts counting from 0.

apprentices[3]

'Christopher'

Notice also that each component of the list separated by a comma is a single object. So the list inside of the list will be a single object. If you want to iterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [109]:
# EXAMPLE

apprentices[3][0]

'C'

You can also replace the objects in the list for example, if we want to replace replace people's full names with their nicknames:

In [110]:
# EXAMPLE

apprentices[0] = "Alejo"

apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Christopher',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Pawandeep',
 'Riley',
 'Ryan',
 'Sophie',
 'Tammy',
 'Timothy',
 'Vivian',
 'Vivian',
 'Zena']

In [111]:
# EXAMPLE

apprentices[3] = "Chris"

apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Chris',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Pawandeep',
 'Riley',
 'Ryan',
 'Sophie',
 'Tammy',
 'Timothy',
 'Vivian',
 'Vivian',
 'Zena']

In [112]:
# EXERCISE
# Replace "Riley" with his nickname "Nicho"
apprentices[14] = "Nicho"
apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Chris',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Pawandeep',
 'Nicho',
 'Ryan',
 'Sophie',
 'Tammy',
 'Timothy',
 'Vivian',
 'Vivian',
 'Zena']

In [113]:
# EXERCISE
# Replace "Timothy" with his nickname "TJ"
apprentices[18] = "TJ"
apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Chris',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Pawandeep',
 'Nicho',
 'Ryan',
 'Sophie',
 'Tammy',
 'TJ',
 'Vivian',
 'Vivian',
 'Zena']

To get more than one element from you list, use the syntax: `list[start:stop]`

Remember that you will get elements up to index stop-1


To demonstrate this it is helpful to use a list of numbers.

In [114]:
# EXAMPLE

myList = [0,1,2,3,4,5,6,7,8,9,10]
print(myList)

myList[0:2]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 1]

It works the same with a list a strings.

In [115]:
# EXAMPLE

apprentices[0:2]

['Alejo', 'Ananda']

You can also slice with steps - list[start:stop:step]

Again, you will get elements up to index stop-1

In [116]:
# EXAMPLE
print(myList)
myList[0:8:2]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0, 2, 4, 6]

In [117]:
# EXAMPLE

myList[0:7:2]

[0, 2, 4, 6]

Why do the two examples above produce produce the same result? Enter your thoughts here in this cell. 


...

Think about what you expect the following example to produce before you run the next cell.

In [118]:
# EXAMPLE

myList[2:11:4]

[2, 6, 10]

Before you run the next cell, predict it's result and write it here.

...

In [119]:
apprentices[3:10:3]

['Chris', 'Evelynn', 'Jason']

In [120]:
# EXERCISE
# Use slicing to output all the even values in myList

myList[0:11:2]

[0, 2, 4, 6, 8, 10]

In [121]:
# EXERCISE
# Use slicing to output all the odd values in myList

myList[1:11:2]

[1, 3, 5, 7, 9]

In [122]:
# EXERCISE
# Use slicing to output the following values: [2, 5, 8]

myList[2:11:3]

[2, 5, 8]

In [123]:
# EXERCISE
# Use slicing to output the following values: [1, 5, 9]

myList[1:11:4]

[1, 5, 9]

In [124]:
# EXERCISE
# Use slicing to output only the Apprentices who's names start with E. 

apprentices[4:7]

['Eric', 'Eric', 'Evelynn']

**Challenge:**

Use slicing to divide everyone into 4 teams, as if they had been counted off: The first person in the first team, the second person in the second team, and so forth.

In [125]:
#Challenge Exercise

team1=apprentices[0:23:4]
team2=apprentices[1:23:4]
team3=apprentices[2:23:4]
team4=apprentices[3:23:4]

print("Team 1:", team1)
print("Team 2:", team2)
print("Team 3:", team3)
print("Team 4:", team4)

Team 1: ['Alejo', 'Eric', 'Gregory', 'Naod', 'Sophie', 'Vivian']
Team 2: ['Ananda', 'Eric', 'Jason', 'Pawandeep', 'Tammy', 'Zena']
Team 3: ['Angela', 'Evelynn', 'Katherine', 'Nicho', 'TJ']
Team 4: ['Chris', 'Fernando', 'Klade', 'Ryan', 'Vivian']

### 1.2 Adding Elements<a id='subsection2'></a>

To add elements to a list, we can use a few functions. The ones we will show you today are built-in functions **insert** and **append**.

The append function is used to add value to the existing list. Just use the append keyword and add the name. The new value will be added at the **end** of the list.

In [126]:
# EXAMPLE

# to add an element to the end of the list, we can use "append", 
# for example, we can add our new student, Noemi

apprentices.append("Noemi")
apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Chris',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Pawandeep',
 'Nicho',
 'Ryan',
 'Sophie',
 'Tammy',
 'TJ',
 'Vivian',
 'Vivian',
 'Zena',
 'Noemi']

We use the **insert** function to insert the value into the list. The insert function allows us to insert the value at a **specific index position**. Be careful when using insert function, you actually need to specify the position at which you are inserting an element.

The element that exists at the specified index will shift to the next index. All the elements after that index will increment by 1 as well.

In the below example, let's add Noemi to our class roster. She should be in spot 13 (in alphabetical order)

In [127]:
# EXAMPLE

apprentices.insert(13, "Noemi")
apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Chris',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Noemi',
 'Pawandeep',
 'Nicho',
 'Ryan',
 'Sophie',
 'Tammy',
 'TJ',
 'Vivian',
 'Vivian',
 'Zena',
 'Noemi']

In the cell below, add the imaginary student, Casper, to Spot 4.

In [128]:
# EXERCISE
apprentices.insert(4,'Casper')
apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Chris',
 'Casper',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Noemi',
 'Pawandeep',
 'Nicho',
 'Ryan',
 'Sophie',
 'Tammy',
 'TJ',
 'Vivian',
 'Vivian',
 'Zena',
 'Noemi']

Methods **insert** and **append** are not the only ways to add elements to a list. Another way to add elements to lists is using **+=** signs. The way you can think about it is **+** adds an element and **=** reassigns the variable.

In [129]:
# EXAMPLE

veg = ["zucchini", "cucumber"]

veg+= ["potato"]
veg

['zucchini', 'cucumber', 'potato']

### <center>  * * * Good Coding Practice Moment * * * <center>
#### What is += ?

When you want to write an equation that modifies a variable but doesn't change it's name you can combine operators as follows
    
          a = a+2          is the same as             a += 2
          b = b-2          is the same as             b -= 3
          c = c*4          is the same as             c *= 4
          d = d/5          is the same as             d /= 5
    

### <center> * * * * * * * * * * * * * * * * * * * * * * * * * * * * <center>

The important thing to remember is that **+=** can only work with elements of the same type. If you want to add somthing to a list, the element must be in the form of a list as well. Let's see what would happen if we will try to add a non-list element to a list.

In [130]:
veg += "bell pepper"
veg

['zucchini',
 'cucumber',
 'potato',
 'b',
 'e',
 'l',
 'l',
 ' ',
 'p',
 'e',
 'p',
 'p',
 'e',
 'r']

Now practice adding Spongebob to the list of `apprentices` using += signs. Remember that Spongebob must be added as a form of a list!

In [131]:
# EXERCISE


apprentices += ['Spongebob']
apprentices

['Alejo',
 'Ananda',
 'Angela',
 'Chris',
 'Casper',
 'Eric',
 'Eric',
 'Evelynn',
 'Fernando',
 'Gregory',
 'Jason',
 'Katherine',
 'Klade',
 'Naod',
 'Noemi',
 'Pawandeep',
 'Nicho',
 'Ryan',
 'Sophie',
 'Tammy',
 'TJ',
 'Vivian',
 'Vivian',
 'Zena',
 'Noemi',
 'Spongebob']

### 1.3 Deleting Elements<a id='subsection3'></a>

Python has three built-in functions and methods for deleting elements from a list.

Method **del** works with indices and allows for the deletion of parts of the list through slicing.

In [132]:
# EXAMPLE 

random_list = ['Zoom', 1, 7, 9, "Python", "Berkeley","Python"]
print(random_list)

del random_list[0:2]

random_list

['Zoom', 1, 7, 9, 'Python', 'Berkeley', 'Python']

[7, 9, 'Python', 'Berkeley', 'Python']

Make sure that you specify which elements you want to delete or it will delete the entire list.

In [133]:
del random_list
random_list

NameError: name 'random_list' is not defined

Method **.pop(  )** works with indices. It is the last symbol/character/object by default, but you can add a specific index.

In [134]:
# EXAMPLE 
random_list = ['Zoom', 1, 7, 9, "Python", "Berkeley","Python"]

random_list.pop()

'Python'

In [135]:
# EXAMPLE 

random_list.pop(0)

'Zoom'

Notice that **.pop(  )** outputs the thing it removed from the list. Can you think of a reason why this would be useful?

In [136]:
# EXAMPLE 

state = ["California", "is", "on the", "West Coast"]
print(state)
last = state.pop()
print(state)
print(last)

['California', 'is', 'on the', 'West Coast']
['California', 'is', 'on the']
West Coast

Another method you can use for lists is **.remove()**. This method uses the exact values (case matters too).

In [137]:
# EXAMPLE 

random_list.remove("Python")
random_list

[1, 7, 9, 'Berkeley']

(Note that this method removes all the instances of "Python")

Now we will go back to our `apprentices` list and practice removing elements using the methods we just learned above!

1. Use the **delete** function to remove Noemi and Spongebob from the end of the list

*Hint: If you want to specify the last item in the list, you can use [-1].
Similarly the second to last element is specified by [-2]*

In [138]:
# EXERCISE
apprentices = ['Alejo','Ananda','Angela','Chris','Casper','Eric','Eric','Evelyn','Fernando','Gregory','Jason','Katherine','Klade','Naod','Noemi','Pawandeep','Nicho','Ryan','Sophie','Tammy','TJ','Vivian','Vivian','Zena','Noemi','SpongeBob']

#del function
del(apprentices[-1])
del(apprentices[-1])
print(apprentices)

['Alejo', 'Ananda', 'Angela', 'Chris', 'Casper', 'Eric', 'Eric', 'Evelyn', 'Fernando', 'Gregory', 'Jason', 'Katherine', 'Klade', 'Naod', 'Noemi', 'Pawandeep', 'Nicho', 'Ryan', 'Sophie', 'Tammy', 'TJ', 'Vivian', 'Vivian', 'Zena']

2. Use the pop method to remove Casper from spot 4

In [139]:
# EXERCISE

#pop method
apprentices.pop(4)
print(apprentices)

['Alejo', 'Ananda', 'Angela', 'Chris', 'Eric', 'Eric', 'Evelyn', 'Fernando', 'Gregory', 'Jason', 'Katherine', 'Klade', 'Naod', 'Noemi', 'Pawandeep', 'Nicho', 'Ryan', 'Sophie', 'Tammy', 'TJ', 'Vivian', 'Vivian', 'Zena']

3. Use the remove method to remove Nicho and then use the method of your choice to add Nicho back in to Spot 13

In [140]:
# EXERCISE

#remove method
apprentices.remove("Nicho")
apprentices.insert(13,"Nicho")
print(apprentices)

['Alejo', 'Ananda', 'Angela', 'Chris', 'Eric', 'Eric', 'Evelyn', 'Fernando', 'Gregory', 'Jason', 'Katherine', 'Klade', 'Naod', 'Nicho', 'Noemi', 'Pawandeep', 'Ryan', 'Sophie', 'Tammy', 'TJ', 'Vivian', 'Vivian', 'Zena']

In [141]:
# Challenge Excercise 
# Remember your teams from an earlier chalange?
team1 = ['Alejo', 'Eric', 'Gregory', 'Naod', 'Sophie', 'Vivian']
team2 = ['Ananda', 'Eric', 'Jason', 'Pawandeep', 'Tammy', 'Zena']
team3 = ['Angela', 'Evelyn', 'Katherine', 'Nicho', 'TJ']
team4 = ['Chris', 'Fernando', 'Klade', 'Ryan', 'Vivian','Noemi']


# Lets say that Angela can't make it one day. 
# Remove Angela from Team 3, then remove Sophie from Team 1 and add her to Team 1. 
# Optional: See if you can do all of that in one line of code. 

team3[0]=team1.pop(4)

print('Team 1:', team1)
print('Team 3:', team3)

Team 1: ['Alejo', 'Eric', 'Gregory', 'Naod', 'Vivian']
Team 3: ['Sophie', 'Evelyn', 'Katherine', 'Nicho', 'TJ']

### 1.4 Length of a list<a id='subsection4'></a>

Built-in function **len(   )** can also be used to figure out the length of a list - in other words, the total count of elements in a list.

In [142]:
# EXAMPLE 
# Before running this cell, think what the output will be.

teamColors = ["Red", "Blue", "Yellow", "Green"]
len(teamColors)

4

When used with lists, it counts only the "outer" objects. Meaning, if there are lists inside of your list, no matter however many objects each of them has, the len(  ) will count the whole list as a single object.

In [143]:
listOfLists = [[1,2,3,4],[4,5,6]]

# Before running this cell, can you guess the output it will give you?

len(listOfLists)

2

In [144]:
len(listOfLists[0])

4

### 1.5 Operations on a list<a id='subsection5'></a>

In [145]:
# EXAMPLE

my_numbers = [1, 2, 3, 4, 5]

my_numbers + 2

TypeError: can only concatenate list (not "int") to list

As you can see above, Lists do not support "+" as a addition, rather the "+" operator combines, or **concatenates** multiple lists. In order to concatenate, or glue elements together, they must the same data type or data structure.

In [146]:
my_numbers + [2]

[1, 2, 3, 4, 5, 2]

In [147]:
list_one = [1, 2, 3]
list_two = [4, 5, 6]
list_three = list_one + list_two
list_three

[1, 2, 3, 4, 5, 6]

Can you guess the output of the next cell?

In [148]:
# EXAMPLE

my_numbers * 2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

---
## Dictionaries <a id='section2'></a>

Dictionaries are used to store data values in **key:value** pairs. A dictionary is a collection which is ordered, changeable, and do not allow duplicates. Dictionaries are very useful when you are working with a lot of data with similar categories.

In [149]:
# EXAMPLE

# A dictionary with various attributes for player 1

player1 = {
    "name": "myName",
    "position" : [0,1],
    "direc" : [1,0],
    "placeInLine" : 3,
    "team" : "Red"
}

player1

{'name': 'myName',
 'position': [0, 1],
 'direc': [1, 0],
 'placeInLine': 3,
 'team': 'Red'}

You can use the key name to retrieve values:

In [150]:
player1["team"]

'Red'

Another method is using the get() function:

In [151]:
player1.get("position")

[0, 1]

Duplicates are **not** allowed in dictionaries. This means that if you have a duplicate key, the value will be overwritten:

In [152]:
player1 = {
    "name": "myName",
    "position" : [0,1],
    "direc" : [1,0],
    "num_balls_moved" : 3,
    "team" : "Red",
    "team" : "Blue"
}

player1

{'name': 'myName',
 'position': [0, 1],
 'direc': [1, 0],
 'num_balls_moved': 3,
 'team': 'Blue'}

Values in a dictionary can be of any type! (You can also use integers and floats for keys instead of strings)

Do you have to rewrite the whole dictionary each time to update it? No! You can change, add, and delete values:

In [153]:
# the player completes a round and adds a ball to their team's bucket.
# We'd better update the `num_balls_moved` variable for that player
player1["num_balls_moved"] += 1

player1

{'name': 'myName',
 'position': [0, 1],
 'direc': [1, 0],
 'num_balls_moved': 4,
 'team': 'Blue'}

In [154]:
#Similarly we can add a key:value pair

player1["place_in_line"] = 3 

player1

{'name': 'myName',
 'position': [0, 1],
 'direc': [1, 0],
 'num_balls_moved': 4,
 'team': 'Blue',
 'place_in_line': 3}

In [155]:
#Deleting is similar to lists - use pop() or del

player1.pop("place_in_line")
del player1["name"]

player1

{'position': [0, 1], 'direc': [1, 0], 'num_balls_moved': 4, 'team': 'Blue'}

In [156]:
#And we can empty the whole dictionary using clear!

player1.clear()
player1

{}

---
## Challenge: Storing Directions for Our Game <a id='section3'></a>

You want to share the maze path you are using, but you can't send pictures. 
Create a dictionary called `mazePath`, where the integer keys is the path in terms of the directions you would have to travel for the rest of first 7 steps.
<img src="images/board.png">


After creating the dictionary, add several more steps.

In [157]:
mazePath = {
    0:"forward",
    1:"left",
    2:"right",
    3:"jump",
    4:"right",
    5:"left",
    6:"forward",
}

mazePath[7] = "forward"
mazePath[8] = "right"
mazePath

{0: 'forward',
 1: 'left',
 2: 'right',
 3: 'jump',
 4: 'right',
 5: 'left',
 6: 'forward',
 7: 'forward',
 8: 'right'}

Now complete the following tasks:

* Ask a group member to choose a step to change. Replace that value with another one.
* Delete step 6.

In [158]:
mazePath[4]='forward'
mazePath.pop(6)

mazePath

{0: 'forward',
 1: 'left',
 2: 'right',
 3: 'jump',
 4: 'forward',
 5: 'left',
 7: 'forward',
 8: 'right'}

---
Notebook developed by: Kseniya Usovich, Rachel McCarty, Baishakhi Bose, Alisa Bettale, Laurel Hales