
------

# Conditionals





### Table of Contents


1 - [Booleans and Comparison Operators](#section1)<br>

2 - [Conditional Statements](#section2)<br>

Before we start this notebook, similar to previous notebooks, we will have to run some code at the beginning to make sure everything is set up correctly. Please run the cells below.

In [ ]:
# RUN THIS CELL;

###DO NOT MODIFY###

# Initialize Otter
import otter
grader = otter.Notebook(tests_dir="tests/03_intro_to_python")

In [ ]:
# RUN THIS CELL;

###DO NOT MODIFY###
from jupyter_utils import *

We often need to execute a specific code based on a condition. It's a form of decision-making: we execute a piece of code is certain conditions are met, we execute another piece of code (could be nothing) otherwise.

# Booleans and Comparison Operators <a name='section1'></a>

Booleans are variables that can only take **True** or **False** values. They represent the "truth" values in a logical expression, and can help us answer questions that require a binary responses (either yes or no) whenever a given condition is or is not met.

In [ ]:
# EXAMPLE

test1 = test_var < -1

print(test1)

In [ ]:
# EXAMPLE

test2 = test_var > 5

print(test2)

Sometimes we want more than one expression then we can use `and` and `or`

In [ ]:
# Example
# Based on what we know, is -1< test_var <5 ?

# Here's how to test that in one line

test3 = -1<test_var and test_var<5
print(test3)

In [ ]:
# Example
# It's time we found out what value test_var has.

test_var == 0

Use `and` if you want both conditions to be true.


Use `or` if you want at least condition to be true.

In [ ]:
# Example

x <- 5 or x < 5

In [ ]:
# Example
x <- 5 and x < 5

Why do the two cells above give different results? What is the difference in the questions we are asking?

Here is a list of **comparison operators**

|Operator| Meaning|
|--------|---------|
|< | less than |
|<= | less than or equal to|
|> | greater than |
|>= | greater than or equal to|
|!= | not equal to|
|== | equal to|

Be careful when using the equal to operator **==**.

Recall that **=** is used to assign a value to a variable.

Let us try some exercises:

For these exercises you will be using comparison operators to find the value of `mystery_number`

**Exercise 1:**  Is `mystery_number` less than 8?

In [ ]:
# EXAMPLE
mystery_number < 8

**Exercise 2:**  Is `mystery_number` greater than or equal to two?

In [ ]:
# YOUR CODE
...

**Exercise 3:**  Is `mystery_number` plus two equal to eight?

In [ ]:
# YOUR CODE
...

**Exercise 4:**  Is `mystery_number` even?

*Hint: if a number, n, is even, then it is divisible by 2, so `n%2 == 0`*

In [ ]:
# YOUR CODE
...

**Exercise 4:**  Make and check a guess for the value of `mystery_number`?

In [ ]:
...

In the cells below come up with your own tests to identify `mystery_number_b`. See if you can do it in 5 guesses or less.

# Conditional Statements <a name='section2'></a>

A conditional statement is where what the code does depends on some condition. Think of them like giant flow charts, where what you do next depends on the answer to a question.

![](https://drive.google.com/uc?export=view&id=1chdKpSqyR3xljLeNJdjsishs1rHwTlmy)

Image from https://welldonestuff.com/inconsequential-dilemmas-funny-flow-charts

A conditional statement has the following form:

`if <condition>:
    <do_something>
elif <condition>:
    <do_something>
else:
     <do_something>`

In [ ]:
# EXAMPLE

if 5 < 6:
    print("True. 5 is less than 6!")
else:
    print("False. What is math?")

**How do conditional statements work?**
* First, it evaluated the header expression (which is the `if` statement). If the statement is `True`, then it executes the first suite otherwise, it checks the condition of the `elif`, and so on.
* It will only execute the suite (do_something) of the `else` clause, if the conditions of the `if` and `elif` are false (not met).


**Some notes about conditional statements:**
* You can have as many `elif` expressions as you want, but you can only have one `if` and one `else` statement.
* `else` always comes at the end.
* You do not always need an `else`.
* When you execute a conditional statement, you must ALWAYS consider the order of you statements.

Let's say I want to write code that outputs a sentence for how many bananas I want to buy.

In [ ]:
# Example

n_bananas = 5

statement = "I want to buy " + str(n_bananas) + ' banana.'
print(statement)


# Does it still sound right if I have 5 bananas?

In [ ]:
n_banana = -2
statement = "I want to buy " + str(n_banana) + ' banana'

if n_banana == 1:
    statement += '.'
else:
    statement += 's.'

print(statement)

# what if some joker puts in a negative number of bananas?

In [ ]:
n_banana = 0 # try to change this number

statement = "I want to buy " + str(n_banana) + ' banana'

if n_banana < 0:
    statement = "That's silly, I can't buy " + str(n_banana) + ' bananas.'
elif n_banana == 0:
    statement = "I don't want to buy any bananas."
elif n_banana == 1:
    statement +='.'
else:
    statement += 's.'

print(statement)

Nested conditional statements are when you have conditional statements inside other conditional statements.

In [ ]:
#what if the store only has 10 bananas?

n_banana = 15
max_bananas = 10

statement = "I want to buy " + str(n_banana) + ' banana'

if n_banana < 0:
    statement = "That's silly, I can't buy " + str(n_banana) + ' bananas.'
elif n_banana == 0:
    statement = "I don't want to buy any bananas."
elif n_banana <= max_bananas:
    if n_banana == 1:
        statement +='.'
    else:
        statement += 's.'
else:
    statement += 's, but the store only has '+str(max_bananas)+'.'

print(statement)

In [ ]:
# EXAMPLE

var1 = 200
var2 = 200

if var2 > var1:
    print("var2 is greater than var1")
else:
    print("var2 is less than var1")

Note in the above example, since the condition in the if statement was not met, the else statement is executed. How will you modify the above code to print "var 1 is equal to var 2"?

In [ ]:
# EXERCISE

var1 = 200
var2 = 200

if var2 > var1:
    print("var2 is greater than var1")
elif ...:
    ...
else:
    print("var2 is less than var1")

Before running the example below, guess what the output will be.

What might the output be if you change the value of fizzbuzz to 9? 20? 32? Try it out!

In [ ]:
# EXAMPLE

fizzbuzz = 15
if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")

If you tried fizzbuzz = 32, you should have seen that the code did not provide any output. This is because all conditionals were evaluated to be false and all print statements were skipped.

Edit the above code so that it prints "fizzbuzz-dud" if fizzbuzz is not divisible by 3 or 5.

In [ ]:
# EXERCISE

fizzbuzz = 32
if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")
...:
    ...

#### Pay Attention to the indents
Anything that doesn't have an indent isn't part of the conditional statement.

In [ ]:
# EXAMPLE

var1 = 1
var2 = 2
if var2 > var1:
    var2 = 0
print("var1 is "+str(var1))
print("var2 is "+str(var2))
print("var2 is equal to var1")

The print statements in the above example are not within the scope of the conditional statement (they aren't indented). As such, it gets executed regardless of whether the condition is met or not.

What is the final value of var2 after running the entire code?

In the cell below, the variable `team` is assigned to a string that specifies a team. If team is equal to "49ers", print "Go Niners", if not print "Not my team".

In [ ]:
# EXERCISE

# If team is equal to "49ers", print "Go Niners", if not print "Not my team".
if ...:
    ...
else:
    ...

print(team)

Try it again with the variable `team2`. If team2 is equal to "49ers", print "Go Niners", if not print "Not my team".

In [ ]:
# EXERCISE

# If team2 is equal to "49ers", print "Go Niners", if not print "Not my team".
if ...:
    ...
else:
    ...

print(team2)

Did you get the responses you expected?

**Conditional Statements in Functions**

In the cell below, we are going to define a function that will multiply the two numbers you give it only if they are not equal to each other.

In [ ]:
# EXAMPLE

def mult_not_eq(x, y):

    # If the first number is not equal to the second
    if x!=y:
        # I will return their product
        return x*y
    else:
        print("Use the square function instead")

Now that we have written the function, we can use the function.

In [ ]:
mult_not_eq(5, 5)

Now it's time for you to define a function. Create a function that will add up two numbers, but only if they are not equals. If the numbers are equal, return "x and y are equal use multiplication by 2".

In [ ]:
def sum_not_equals(x, y):
    if ...:
        return ...
    else:
        return ...

In [ ]:
# Does this return what you think it should?
sum_not_equals(1, 5)

In [ ]:
sum_not_equals(7,7)

In [ ]:
sum_not_equals(11, 101)

In [ ]:
grader.check("q1")

You can also have functions that return a boolean, and then use that function in a conditional statement. You'll see that in the challenge notebook.

---
Notebook developed by: Kseniya Usovich, Rachel McCarty, Baishakhi Bose, Alisa Bettale, Laurel Hales, Lawrence Chen, Arianna Formenti, Sage Miller, Evan Neill