
----

# NumPy Arrays



---

### Table of Contents


1 - [Creating NumPy Arrays](#section1)<br>

2 - [Basic Operations with NumPy Arrays](#section2)<br>

3 - [Indexing & Slicing NumPy Arrays](#section3)<br>

4 - [NumPy Arrays Applications](#section4)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.1 - [Finding the Average Hours of Daylight](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4.2 - [Finding the Elevation of a Hiking Path](#subsection2)<br>

---

Before we start this notebook, similar to previous notebooks, we will have to run some code at the beginning to make sure everything is set up correctly. Please run the cells below.

In [ ]:
from matplotlib import pyplot as plt
from jupyter_utils import *
%matplotlib inline

# Initialize Otter
import otter
grader = otter.Notebook(tests_dir="tests/05_intro_to_python")

NumPy (short for "Numerical Python") is a Python library that allows us to work with arrays and easily process large amounts of numerical data. This means we must import the library in order to use it!

In order to save us some typing time we can give our libraries a shorter alias, like <b>np</b> for NumPy.

In [ ]:
import numpy as np

## Creating Numpy Arrays  <a name='section1'></a>

A NumPy array is just a table of data of the same type. From [NumPy.org](https://numpy.org/doc/stable/user/absolute_beginners.html): NumPy arrays can be used to perform a wide variety of mathematical operations on arrays. It adds powerful data structures to Python that guarantee efficient calculations with arrays and matrices and it supplies an enormous library of high-level mathematical functions that operate on these arrays and matrices.


In order to use NumPy you can either convert data you already have into a NumPy array or create a blank array from scratch. NumPy arrays and Python lists are similar, yet they react differently to various operations.

In [ ]:
#Create an array
array1 = np.array([1,2,3,4])

#Create a list
list1 = [1,2,3,4]

array1, list1

Try doing the following operations and see if you notice any differences!

array1 + array1

list1 + list1

array1 * array1

list1 * list1

In [ ]:
# What happens when you add different object types?

print(... + ...) # add two arrays
print(... + ...) # add two lists

In [ ]:
# What happens when you multiply different object types?

print(... * ...) # multiply two arrays
print(... * ...) # multiply two lists

In [ ]:
# EXAMPLE

# Create a new list

list_of_numbers = [0, 1, 2, 3, 4, 5]
list_of_numbers

In [ ]:
# Example

# Verify that it is indeed a regular Python list

type(list_of_numbers)

In [ ]:
# EXAMPLE

# Create a new Numpy array from our list and display it

array_from_list = np.array(list_of_numbers)
array_from_list

In [ ]:
# EXERCISE

# Verify that it's an array and not a list

...

Usually, we get arrays from our data. If we don't yet have any data or just want a placeholder for our data, we can create a NumPy array filled with ones by calling `np.ones()` and specifying the size of the array in a tuple, (3, 4).

*A tuple is another data type in Python. It's similar to a list, but uses parentheses instead of square brackets, and unlike lists, are unchangeable*

In [ ]:
# EXAMPLE

# Create an array of size 3x4 and fill it with ones

ones_array = np.ones((3, 4))
ones_array

We can also create arrays filled with zeros.

**EXERCISE:** In the cell below, create a 3x4 array of zeroes. It will have similar syntax to creating an array filled with ones like the cell above. Use the function `zeros` instead of `ones` from the numPy library.

If you did it correctly, you should see:

![](https://drive.google.com/uc?export=view&id=1okjPZLNj1ndcuR2ljPkZOt5PPREqvYSt)

In [ ]:
# Refer to the syntax above and use the function `np.zeros` to make a 3x4 array
zeros_array = ...
zeros_array

In [ ]:
grader.check("q1")

Similarly we can create NumPy arrays filled with any other value. To accomplish this we use `np.full` and specify both the size of the array and the value we would like to fill that array with.

In [ ]:
# EXAMPLE

array_of_twos = np.full((3, 4), 2)
array_of_twos

**EXERCISE:** In the cell below, create a 2x5 array of halves (0.5 or 1/2).

If you did it correctly, you should see:

![](https://drive.google.com/uc?export=view&id=1cOIUFIQ7kesqJ4ScKQ3f73ksIHncxR5F)

In [ ]:
# EXERCISE

array_of_halves = ...
array_of_halves

**EXERCISE:** In the cell below, create a 4x3 array filled with Pi.

*Hint: Similar to the math library, you can use the the numpy library to import the value of pi. Look it up online!*

If you did it correctly, you should see:

![](https://drive.google.com/uc?export=view&id=1GAnPphNm3URIxIaOYtey18kWx5tDYMZI)

In [ ]:
# EXERCISE

array_of_pies = ...
array_of_pies

We can use the function `linspace` to create NumPy arrays with N evenly spaced numbers over a specified interval.

In [ ]:
# EXAMPLE
xmin = 0
xmax = 10
N = 11
x = np.linspace(xmin, xmax, N)
print(x)

Why was `N = 11` instead of `N = 10`? Think about this before moving on to the next exercise.

**EXERCISE:** In the cell below, use `np.linspace()` create a numPy array of numbers 10 to 20 that go up by 0.5 (10, 10.5, 11, 11.5, etc.). If you do it right, x should look like:

![](https://drive.google.com/uc?export=view&id=19Jch9mvuY-_jhEciCW6MWZA30DRSycSm)

In [ ]:
# EXERCISE

xmin = ...
xmax = ...
N = ...
x = ...
print(x)

If we want NumPy to fill the array with random numbers between A and B, we can use `np.random.uniform()`.  
We need to feed this function with the minimum and maximum number (A and B) and the size of the array as a tuple.

In [ ]:
# EXAMPLE - Creating a 2x3 array with random numbers between 0 and 1
np.random.uniform(low=0, high=1, size=(2,3))

## Basic Operations with Numpy Arrays  <a name='section2'></a>

NumPy is much more than just an array creator.  
It allows us to do blazingly fast operations with arrays.  
Operations performed with NumPy on arrays can be computed significantly faster than with other Python functions on lists.  
For example, let's say that we have an array of one million random probabilities of it raining on a particular day.

In [ ]:
# EXAMPLE

random_million = np.random.uniform(low=0, high=1, size=1000000)
random_million

Let's check that the array is actully one million numbers long.

**Hint:** Just like with most other data structures (lists) and some data types (strings), you can use the traditional Python len( ) function to check the *length* of your object.

In [ ]:
# EXERCISE

Yep, that checks out.<br> <br>Now let's say that we want these probabilities to be in percentages (out of 100 rather) than proportions (from zero to one). We can just multiply the whole array by 100!

In [ ]:
# EXAMPLE

percentages = random_million * 100
percentages

Notice that NumPy accomplishes that multiplication in a fraction of a second when we use it with arrays. That's a million multiplications! In the cell below you can see how much longer the code is for doing the same operations on a list.

**Note:** We cut our list to have 10,000 values only, because it can take it a long time to run a for-loop over 1 million values.

In [ ]:
# EXAMPLE

random_mln_lst = list(random_million[:10000])
percentages_lst = []

for i in random_mln_lst:
    percentages_lst += [i*100]

print(percentages_lst)

 Let's see if we can get NumPy to at least break a sweat doing multiplications.

In [ ]:
# EXAMPLE

# 100 million multiplications
np.random.uniform(low=0, high=1, size=100000000) * 100

NumPy is really fast! Not to mention that it first needs to come up with the random numbers in the array, and only then can it do the multiplications we are asking it to do. That's pretty useful if you want to analyze a huge amount of data!

Let's see what other operations we can do with NumPy arrays.

Can it add the same number to all the elements of our array? How about subtracting it? Even dividing by it?

In [ ]:
# EXAMPLE

plus_fifty = random_million + 50
plus_fifty

How about if we want to divide each value by 2?

In [ ]:
# EXERCISE

divided_by_two = ...
divided_by_two

We can even do those arithmetic operations between two arrays if they are of the same size!

In [ ]:
# EXAMPLE

sum_of_arrays = divided_by_two + plus_fifty
sum_of_arrays

We can also sort the array

In [ ]:
# EXAMPLE
sorted_random_million = np.sort(random_million)
sorted_random_million

Or flip it!

In [ ]:
# EXAMPLE
flipped_random_million = np.flip(random_million)
flipped_random_million

We can sum all of its elements!  
Quiz: what do you expect the value of the sum to be?

In [ ]:
# EXAMPLE
sum = np.sum(random_million)
sum

And we can reshape it in rectangular form, as long as it's compatible! We'll use our `linspace` to make a new array to reshape. Take note of how the values are reorganized!

In [ ]:
# Array of length 40 (with numbers 1...40)
len_40_array = np.linspace(1,40,num=40)

# EXAMPLE
reshaped_2x20 = np.reshape(len_40_array, (2, 20))
reshaped_2x20

In [ ]:
# Use np.reshape to turn len_40_array into an array with 4 rows and 10 columns
reshaped_4row = ...
reshaped_4row

In [ ]:
grader.check("q2")

**EXERCISE:** Calculate the exponential of the array x. Assign it to the variable `y`.

*Hint: Look up on Google the numPy function to calculate the exponential!*

In [ ]:
x = np.array([2,3,4])

In [ ]:
y = ...

In [ ]:
grader.check("q3")

How can we go back from y to x?
Logarithms are the inverse of exponents.

See how we obtain x back from y in the cell below:

In [ ]:
# EXAMPLE

z = np.log(y)
z

**EXERCISE:** Find the square root of x

*Hint: Look up on Google the numPy function to calculate the square root!*

In [ ]:
# EXERCISE

x = np.array([2,3,4])
sqrt_x = ...

## Indexing & Slicing NumPy Arrays  <a name='section4'></a>

Just like we did with Python lists, if we ever need to retreive a value at a particular index in a NumPy array, we can use `[start:stop:step]` to get it.

In [ ]:
# EXAMPLE

print(array_from_list)
print("Value at index 0 is:", array_from_list[0])
print("Value at last index is:", array_from_list[-1])
print("Value of slice from indices 1 up to 3:", array_from_list[1:3])

Now how would you return all the values starting with index 2 (skipping values at indices 0 and 1)?

In [ ]:
array_2_onwards = ...

In [ ]:
grader.check("q4")

You can think of arrays as tables. If your array has more than one column per row, we just use a comma between the index of the first dimension (row) and the index of the second dimension (column). The indexing and slicing works exactly the same as before, but we can do it separately for rows and columns.

In [ ]:
# EXAMPLE

five_by_three = np.random.rand(5, 3)
five_by_three

In [ ]:
# EXAMPLE

five_by_three[0, 0]

Now let's try to retrieve the value from the bottom right from the `five_by_three` array.

**Hint:** Remember, first we input rows, then columns. Also, don't forget that Python starts counting from *zero*.

In [ ]:
value_in_bottom_right = ...
value_in_bottom_right

In [ ]:
grader.check("q5")

Just like with regular arrays and lists, we can slice arrays that have multiple columns. The same rules apply: first we input the desired rows, then the desired columns. In the cell below, we are asking for our array to output values on row 0, columns 1 through 3 (our array has only 2 columns, but it won't error).

In [ ]:
# EXAMPLE - row 0, column indices 1 through 4
five_by_three[0, 1:4]

In [ ]:
# EXAMPLE - output row indices 1 through 4, column 0

five_by_three[1:, 0]

How can you get an array of all the values in the **second column** in the **second row onwards** of the `five_by_three` array? (Remember that arrays are 0-indexed - i.e. the first row is index 0.)

In [ ]:
second_col_values = ...

In [ ]:
grader.check("q6")

Now how would we output only the last values of all rows of the `five_by_three`?

In [ ]:
last_row_values = ...

In [ ]:
grader.check("q7")

To check the shape of your array you can also use `np.shape`.

In [ ]:
# EXAMPLE

np.shape(five_by_three)

## Bonus: NumPy Arrays Applications <a name='section5'></a>

### Finding the Average Hours of Daylight <a name='subsection1'></a>

We have already loaded some data for you about the sunrise and sunset times in Washington DC.

The following arrays give the average time of sunrise for each month, and the average time of sunset for each month.

The first row of each array gives the hour, and the second row, gives the minutes.

In [ ]:
print(dc_sunrise)
print(dc_sunset)

So you can see that in January in DC, the average time for a sunrise was 7:23. Let's say that we want to figure out the average number of hours of sunlight in DC for each month. How would we do that?

In [ ]:
# Example

# We have both hours and minutes - let's write both rows in terms of hours.

dc_sunrise [1,:] = dc_sunrise[1,:] / 60
dc_sunset [1,:] = dc_sunset[1,:] / 60

print(dc_sunrise)
print(dc_sunset)

Wait, what just happened here, why did all the minutes go to zeros?
It's because we've been using arrays of integers so it did integer division and rounded all the values down. Fortunately we can just reload the data and try that again. This time we will load the values as floats. We can check that using the dtype function:

In [ ]:
print(dc_sunrise.dtype)
print(dc_sunset.dtype)

In [ ]:
#Loading the values as floats

dc_sunrise = np.float32(dc_sunrise_orig)
dc_sunset = np.float32(dc_sunset_orig)

print(dc_sunrise.dtype)
print(dc_sunset.dtype)

Now that we have arrays of floats we can do the division without a problem:

In [ ]:
dc_sunrise[1,:] = dc_sunrise[1,:] / 60
dc_sunset[1,:] = dc_sunset[1,:] / 60.

print(dc_sunrise)
print(dc_sunset)

In [ ]:
# Example

# let's make the sunset hours in military time.

dc_sunset[0,:]+=12

print(dc_sunset)

In [ ]:
# Example
# Now we can calculate the total number of hours after midnight it is
# for sunrise and the sunset using the sum function.


dc_sunrise_hrs = np.sum(dc_sunrise,0)
dc_sunset_hrs = np.sum(dc_sunset,0)

print(dc_sunrise_hrs)
print(dc_sunset_hrs)

The `np.sum` command has multiple possible inputs. Here we inputed:
* The array we wanted to sum
* The direction we wanted to sum across (in this case, we wanted to add the rows so we put 0)

In [ ]:
# Example
# Find the number of hours of daylight

dc_daylight = dc_sunset_hrs - dc_sunrise_hrs
dc_daylight

In [ ]:
# Example
#Let's find the average (mean) number of hours of daylight per month for DC

dc_mean_daylight = np.mean(dc_daylight)
print('mean: ', dc_mean_daylight, 'hours')

#Let's also find the range of hours of daylight for DC
dc_range = np.max(dc_daylight) - np.min(dc_daylight)
print('range: ', dc_range, 'hours')

We also have sunrise and sunset data for 5 other cities:   Berlin, Germany; Canberra, Australia; Beijing, China; Helsinki, Finland; and Manilla, Philippines. The other arrays are named `berlin_sunrise, berlin_sunset, canberra_sunrise, canberra_sunset, beijing_sunrise, beijing_sunset, helsinki_sunrise, helsinki_sunset, manila_sunrise, manila_sunset`

(Note that all arrays already contain float values so you do not need to convert the types)

Have each person at your table pick a different city and use the cells below to figure out the average number of hours of daylight in each city so you can compare.

Which city had the most hours of daylight?
type your answer here:
...

Which city has the biggest range in hours of daylight?
type your answer here:
...

What conclusions can you draw from this?
...

### Finding the Elevation of a Hiking Path<a name='subsection2'></a>

You and your friends have decided to go on a hike. We have already imported the array called `contour`, which contains the information for a contour map giving the elevations of the area, and a list called `hiking_path`, which contains the pixels representing the path you and your friends will take. See the plot below:

In [ ]:
# You haven't learned how to plot yet, so we did it for you.

plot_path = np.zeros(contour.shape)
for ii in range(len(hiking_path)):
    plot_path[hiking_path[ii]] = 1

fig, ax = plt.subplots(1,2, dpi=300)
im1 = ax[0].imshow(contour,cmap=plt.cm.viridis, alpha=.9, vmin = 1400, interpolation='bilinear')
ax[0].set_title('contour')
ax[0].axis('off')
fig.colorbar(im1, orientation='vertical', fraction=0.03)

im2 = ax[1].imshow(plot_path, cmap=plt.cm.gray, interpolation='nearest')
ax[1].set_title('hiking path')
ax[1].axis('off')

plt.show()

Looking at the plot, what color represents high elevation areas? How do you know?

We can use `contour` and `hiking_path` to find the elevation for each step of the path. For example, if we wanted to find the elevation (in feet) of the first part, we would use the code in the next cell.

In [ ]:
# EXAMPLE
contour[hiking_path[0]]

In [ ]:
# EXERCISE
# Use what you know about numpy arrays and loops to figure out
# the maximum change in altitude on the hike ( The maximum minus the minimum elevations.)

# Create an array of 0's for now that has the same number of rows as the list hiking_path and 1 column
# Hint: Which built-in Python function gives you the length of a list?
elevations = np.zeros((...,...))

# You have to loop through each item in the hiking_path list.
# Store the elevation of each point on the hiking_path in the elevations array
for x in ... :
    elevations[x]= ...

max_change = ...

print(max_change)

---
Notebook developed by: Kseniya Usovich, Baishakhi Bose, Alisa Bettale, Laurel Hales, Arianna Formenti, Evan Neill