
------

# Loops





### Table of Contents

1 - [For Loops](#section1) <br>

2 - [While Loops](#section2)<br>

3 - [Nested Loops](#section3)<br>

4 - [Bonus! List Comprehensions](#section4)<br>

Before we start this notebook, similar to previous notebooks, we will have to run some code at the beginning to make sure everything is set up correctly. Please run the cells below.

In [ ]:
# RUN THIS CELL;

###DO NOT MODIFY###

import math
from matplotlib import pyplot as plt

# Initialize Otter
import otter
grader = otter.Notebook(tests_dir="tests/04_intro_to_python")

What are loops useful for?
- Sometimes we want to perform some operation on a list but doing it on each element individually can be very tedious!
- A loop goes through a collection of data types and **executes** some state statement **for each value** in that collection of data.
- Examples of data types are: list, array, characters string, dictionary, and other collections

---
## For  Loops <a name='section1'></a>

Syntax:

```python
for var in iterable:
    statement
    statement
```

    
* `var` - it takes items from iterable one by one.
* `iterable` - it's a collection of objects.
* indentation - loop body MUST be indented.
* loop body - first two statements

In [ ]:
# EXAMPLE

greeting = 'Hello'

# to print each letter in greeting without using loop

print(greeting[0])
print(greeting[1])
print(greeting[2])
print(greeting[3])
print(greeting[4])

In [ ]:
# EXAMPLE

greeting = 'Hello'

# here we are using the for loop

for letter in greeting:
    print(letter)

The for loop helps us write the code in a simpler way with less code we can iterate over. This minimizes confusion, reduces lines of code, and runs faster.

In [ ]:
# EXAMPLE

# square each value in the list

for x in [1,2,3]:
    print("x is ", x)
    print("x**2 is ", x**2)

Using a for loop, print each item in the list. You should see the following if you do it right:
```
1
2.0
hi!
```

In [ ]:
# EXCERCISE

# print each item in the list.
# recall that the elements in the list do not have to have the same type

for ... in [1, 2.0, "hi!"]:
    print(...)

Create a for-loop that multiplies every number in the `numbers` by 3, and puts it into `output_list`.

In [ ]:
# EXERCISE

numbers = [1, 5, 7, 0]

In [ ]:
output_list = []
...
    # Put 3x each number into output_list
    ...

In [ ]:
grader.check("q1")

For loops can use range functions instead of a pre-defined list:

In [ ]:
# EXAMPLE
print(list(range(5)))

In [ ]:
# EXAMPLE
for i in range(5):
    print(i)

In [ ]:
# EXAMPLE
# Let's look at the difference between using range and a list

numbers = [1, 5, 7, 0]

for i in range(len(numbers)):
    print (i)

# This version loops the numbers 0 - m
# where m is the length of the list numbers.

# This can be helpful when you need to know which index you are at
# in the loop

Can you use a for loop and `range()` to print the numbers 2 through 8?

In [ ]:
# EXERCISE

for ...:
    print(...)

The `enumerate` function takes something like a `list` or `range` and provides an index number together with each value.

In [ ]:
# EXAMPLE

for i, j in enumerate(numbers):
    print( 'i is ', i, ' and j is ', j)

Can you print the even numbers from 2 through 8, using a for loop? If you do it right, you should see:

```
2
4
6
8
```

In [ ]:
# EXERCISE

for ...:
    print(...)

In [ ]:
# EXAMPLE

# calculate the area for circles with different radius

radiuses = [1, 3, 5, 7, 9]

for radius in radiuses:
    area = math.pi*radius**2
    print(area)

Can you use a for loop, and what you know about lists, to fill out list of volumes for spheres of each radius? Create a for loop that calculates the volume for a sphere of each radius in `radiuses`, and puts it into the list `volumes`.

In [ ]:
# EXERCISE
radiuses = [1, 3, 5, 7, 9]

In [ ]:
volumes = []

...
    # Use math.pi as Ï€ in your equations
    volume = ...
    # Add your volume to the list of volumes
    ...

In [ ]:
grader.check("q2")

In [ ]:
# EXAMPLE
# Let us see an example that uses our knowledge of lists, conditional statements, and loops

# print the colors stored in an array
color = ["green", "pink", "red"]
for c in color:
    if c == "pink":
        print (c + " is my favorite color")

Why did the colors **red** and **green** not print?

In the next cell, can you use the same loop from above, but only print a color if it contains the letter "e"? You should see:

```
green
red
```

In [ ]:
# EXERCISE (HINT: you can check for a letter in a string using the command in ("g" in green) = True )

#Print only colors that have the letter 'e'
color = ["green", "pink", "red"]
for ...:
    if ...:
        print(...)

In [ ]:
# EXAMPLE
# Say you want to model the path of a projectile shot into the air,
# You can figure that out using the formula x_n = x_0 + v*t + a/2 *t^2.

#First we create a list for the times:
ts = list(range(22)) # t has the values 0 - 21.

# We need to initialize a list so that we have somewhere to store the values.
xs = []

x_0 = 0 # initial position
v = 200 # velocity

a = -9.8 # gravitational acceleration

for t in ts:
    xs += [x_0 + v*t + a/2*t**2]

#print(ts)
print(xs)

In [ ]:
# you haven't learned how to plot things yet, but here is what a plot would look like

plt.plot(ts, xs)
plt.ylabel('x (m)')
plt.xlabel('t (s)')

#### Using for loops to find averages

Many built in functions implement for loops behind the scences. For example,
the sum and len functions are actually implementing a for loop.

In [ ]:
# EXAMPLE - using built in functions

numbers = [0,1,3,4,7,4,0,3,5,1]

mean1 = sum(numbers)/len(numbers)
print(mean1)

In [ ]:
# Using for loops

sum2 = 0 # You have to initialize the value as zero, we will add stuff to it in the loop
for i in numbers:
    sum2 += i
    print('cumulative sum: ', sum2)

mean2 =sum2/len(numbers)
print('mean is ', mean2)

# Using this method you only need to save one value, sum2 and you update it on every iteration

---
## While Loops  <a name='section2'></a>

Syntax:

```python
while condition:
    statement
    statement

else:
    statement
```

    
* `condition` - any expression that evaluates to true or false (so, our conditionals!)
* loop body - first and second statements. They are executed as long as (`while`) the condition is true.
* `else` clause - it is executed if the condition becomes false
* indentation - loop body must be indented.

In [ ]:
# EXAMPLE

# Iterate until x becomes 0

x = 10
while x > 0:
    print(x)
    x = x-2

In [ ]:
# EXAMPLE

x = 10
while x > 0:
    print(x)
    x = x - 1
else:
    print('Done with my countdown!')

In [ ]:
#EXAMPLE

#Add the first 5 natural numbers using the while loop.

n = 5  # upper limit
sum_of_natural_numbers = 0 #initialize the variable for sum
i = 1
while i <= n:
    sum_of_natural_numbers = sum_of_natural_numbers + i
    i += 1     #increment the counter
# print the sum
print("the sum :",  sum_of_natural_numbers)

In the next cell, we use a `while` loop to keep adding values to a list, and only stop when it's gotten to a certain size.

In [ ]:
my_list = []
stop_size = 3

i = 1
while len(my_list) <= stop_size:
    my_list.append(i)
    i += 1

print(my_list)

`stop_size` is 3, but the list has 4 entries - why is this?

Let's get more practice with while loops. Can you use a while loop to fill out a list of the squares of the first 4 even numbers (starting with 2)? (Hint: you can use the modulus (%) operator to see if it's even).

In [ ]:
squares = []
stop_size = ...

i = 1
# While each number is less than the stop size...
...
  # If it's even...
  ...
    # Add the squared even number to your list of squares
    ...

  i += 1

In [ ]:
grader.check("q3")

For the below exercise, print each letter of a word of your choice.

*Hint: Remember that each letter of a string can be accessed with an index (similar to a list):*

In [ ]:
example_word = "cat"

print(example_word[0])
print(example_word[1])
print(example_word[2])

In [ ]:
#EXERCISE

#Print each letter of a word of your choice

word = "your_choice"

x = 0
while x < ...: #Hint: What built-in Python function gives you the length of a string?
    print(...)

    ... #Don't forget to update x!

---
## 3. Nested Loops  <a name='section3'></a>

Nested loops are used when you want to repeat code multiple times and get all combinations of two iterables. Note that the inside loop iterates completely for each variable in your outside loop.

In [ ]:
# EXAMPLE

# Let's say I wanted all combinations of the range of numbers from 0 through 5 (inclusive)
#and the range of numbers from 0 through 10 (inclusive)

for i in range(6): #this is my outer loop
  for j in range(11): #this is my inner loop
    print(i,j)

Use a **nested loop** to complete this exercise:

Using the ice cream flavors and toppings given below, create a list called `icecream_options` containing all possible combinations of a single flavor and single topping. **Make each entry in the list a list of the form `[<flavor>, <topping>]`**.

In [ ]:
flavors = ["chocolate crunch", "vanilla", "strawberry", "caramel swirl", "honey lavender"]

toppings = ["sprinkles", "oreo crumbles", "cookie dough", "caramel", "chocolate syrup"]

In [ ]:
icecream_options = []

...
  ...
    ...

In [ ]:
grader.check("q4")

**Challenge Question:** In this question, use a nested loop to get an average of all of the grades in all classes.

In [ ]:

classes=[
    {"course_title": "AP Art History",
     "grades": [80, 86, 92, 99, 100]},
    {"course_title": "Calculus",
     "grades": [82, 87, 89, 95, 96]},
    {"course_title": "Biology",
     "grades": [78, 81, 88, 94, 99]},
    {"course_title": "Chemistry",
     "grades":[77, 80, 81, 87, 96]}
]

In [ ]:
sum_of_grades=0
number_of_grades=0

...
  ...
    ...
    ...

average_of_all_grades = ...
average_of_all_grades

In [ ]:
grader.check("q5")

---
## 4. Bonus! List Comprehensions  <a name='section4'></a>

If you have finished the notebook early, try out these questions on list comprehensions. List comprehensions can be very useful as they accomplish the same goals as a for loop in just one line of code. There are extra slides in the loops powerpoint presentation to assist you in answering these questions if you need help or want to see more practice problems.

Syntax:
```python
my_list=[expression for item in iterable if condition == True]
```
    
* Your expression could be something like x or x**3   
* Your "for" statement could be something along the lines of for x in range(10)
* Your conditional statement will involve comparison operators such as >, <, ==, !=, >=, <=

In [ ]:
# EXAMPLE

# Let's say I want a list of only the even numbers from 0-10 (inclusive)

even_list=[x for x in range(11) if x%2 == 0]

print(even_list)

Use **list comprehensions** to create a list of the names of the instructors that have the letter A in their name (upper or lower case). **Remember** that python treats "A" and "a" differently! We want names with either.

In [ ]:
instructors = ["Ernesto", "Kirk", "Sage", "Samantha", "Ashley", "David", "Jamie"]

In [ ]:
a_names = ...

print(a_names)

In [ ]:
grader.check("q6")

In the next question, use **list comprehensions** to create a list of the squares of the odd integers in the range 0-25. **Hint:** Is the range function inclusive or exclusive?

In [ ]:
odd_squared_values = ...

print(odd_squared_values)

In [ ]:
grader.check("q7")

---
Notebook developed by: Kseniya Usovich, Rachel McCarty, Baishakhi Bose, Alisa Bettale, Laurel Hales, Arianna Formenti, Sage Miller, Evan Neill