
------

# Lists, Dictionaries


### Table of Contents


1 - [Lists](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 - [List Iteration and Slicing `[ : ]`](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 - [Adding Elements](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.3 - [Deleting Elements](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.4 - [Length of a list](#subsection4)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.5 - [Operations on a list](#subsection5)<br>

2 - [Dictionaries](#section2)<br>

Before we start this notebook, similar to our previous notebook, we will have to run some code at the beginning to make sure everything is set up correctly. Please run the cells below.

In [ ]:
# RUN THIS CELL;

###DO NOT MODIFY###

# Initialize Otter
import otter
grader = otter.Notebook(tests_dir="tests/02_intro_to_python")

---
## Lists<a name='section1'></a>

List is a data structure that allows you to save multiple objects. In comparison with strings, lists can contain different data types/objects. Strings can only store textual data.

In [ ]:
# EXAMPLE

new_lst = [2, "name", 3, "berkeley"]
new_lst

In [ ]:
# here's how you can create an empty list

empty_lst = []
empty_lst

Discussion: Why would you want to have an empty list?

Don't ever call your list "list". This is a reserved name for a function in Python.

In [ ]:
list

Let's see how we can use this function on a string. Save your name in the variable "name" first.

In [ ]:
# EXERCISE

name = "My Name"

list(name)

Discuss: Looking at the above example, what do you think the `list` function is doing?

Every value that is stored in the list has its "address", also known as its index position. By using the index position, we can get any particular value from the list.

All index values start from 0. Python reads the list from left to right in default. If we want to call a value stored in a specific index position, we have to specify the index position with the variable name.

In [ ]:
# EXAMPLE

teamColors = ["Purple", "Blue", "Green", "Yellow"]
teamColors

In [ ]:
teamColors[0]

In [ ]:
# EXERCISE

#Grab "Green" from the teamColors list

green_string = ...
green_string

In [ ]:
grader.check("q1")

In [ ]:
# EXERCISE

#Grab "Yellow" from the teamColors list

yellow_string = ...
yellow_string

In [ ]:
grader.check("q2")

Another way we can use lists, is to store data that belong together. For example instead of having a variable `pos_x` and another `pos_y`, we can save them in a single list `position = [pos_y, pos_x]`

In [ ]:
# EXAMPLE

pos_x = 0
pos_y = 1

position = [pos_x, pos_y]
position

### 1.1 List Iteration and Slicing `[ : ]`<a name='subsection1'></a>

In [ ]:
# Here we created a list of all of previous BLDAP apprentices.

apprentices = ['Alejandro', 'Ananda', 'Angela', 'Christopher', 'Eric', \
               'Eric', 'Evelynn', 'Fernando', 'Gregory', 'Jason', 'Katherine', \
               'Klade', 'Naod', 'Pawandeep', 'Riley', 'Ryan', 'Sophie',\
              'Tammy', 'Timothy', 'Vivian', 'Vivian', 'Zena']
print(apprentices)

To iterate through the list, you can use square brackets with an index of an object you are interested in. Like so:

In [ ]:
# remember that Python, like many programming languages, starts counting from 0.

apprentices[3]

Notice also that each component of the list separated by a comma is a single object, which is also a list. So the list inside of the list (meaning each single name) will be a single object. If you want to iterate through a list inside of the list, you will need to use the square brackets twice. Like we did here:

In [ ]:
# EXAMPLE

apprentices[3][0]

You can also replace the objects in the list for example, if we want to replace people's full names with their nicknames:

In [ ]:
# EXAMPLE

apprentices[0] = "Alejo"

apprentices

In [ ]:
# EXAMPLE

apprentices[3] = "Chris"

apprentices

In [ ]:
# EXERCISE
# Replace "Riley" with his nickname "Nicho"
apprentices[14] = ...
apprentices

In [ ]:
grader.check("q3")

To get more than one element from you list, use the syntax: `list[start:stop]`

Remember that you will get elements up to index stop-1


To demonstrate this it is helpful to use a list of numbers.

In [ ]:
# EXAMPLE

myList = [0,1,2,3,4,5,6,7,8,9,10]
print(myList)

myList[0:2]

It works the same with a list a strings.

In [ ]:
# EXAMPLE

apprentices[0:2]

You can also slice with steps - list[start:stop:step]

Again, you will get elements up to index stop-1

In [ ]:
# EXAMPLE
print(myList)
myList[0:8:2]

In [ ]:
# EXAMPLE

myList[0:7:2]

Why do the two examples above produce produce the same result? Enter your thoughts here in this cell.


...

Think about what you expect the following example to produce before you run the next cell.

In [ ]:
# EXAMPLE

myList[2:11:4]

Before you run the next cell, predict it's result and write it here.

...

In [ ]:
apprentices[3:10:3]

In [ ]:
# EXERCISE
# Use slicing to output all the even values in myList

even_list = ...
even_list

In [ ]:
grader.check("q4")

In [ ]:
# EXERCISE
# Use slicing to output the following values: [1, 5, 9]

new_list = ...
new_list

In [ ]:
grader.check("q5")

In [ ]:
# EXERCISE
# Use slicing to output only the Apprentices who's names start with E.

e_names_list = ...
e_names_list

In [ ]:
grader.check("q6")

**Challenge:**

Use slicing to divide everyone into 4 teams, as if they had been counted off: The first person in the first team, the second person in the second team, and so forth.

In [ ]:
#Challenge Exercise

team1 = ...
team2 = ...
team3 = ...
team4 = ...

print("Team 1:", team1)
print("Team 2:", team2)
print("Team 3:", team3)
print("Team 4:", team4)

In [ ]:
grader.check("q7")

### 1.2 Adding Elements<a name='subsection2'></a>

To add elements to a list, we can use a few functions. The ones we will show you today are built-in functions **insert** and **append**.

The **append** function is used to add a value to an existing list. Just use the append keyword and add the name. The new value will be added at the **end** of the list.

In [ ]:
# EXAMPLE

# to add an element to the end of the list, we can use "append",
# for example, we can add our new student, Noemi

apprentices.append("Noemi")
apprentices

We use the **insert** function to insert the value **into** the list. The insert function allows us to insert the value at a **specific index position**. Be careful when using insert function, you actually need to specify the position at which you are inserting an element.

The element that exists at the specified index will shift to the next index. All the elements after that index will increment by 1 as well.

In the below example, let's add Noemi to our class roster. She should be at index 13 (in alphabetical order)

In [ ]:
# EXAMPLE

apprentices.insert(13, "Noemi")
apprentices

In the cell below, add the imaginary student, Casper, to index 4.

In [ ]:
# EXERCISE
...
apprentices

In [ ]:
grader.check("q8")

Methods **insert** and **append** are not the only ways to add elements to a list. Another way to add elements to lists is using **+=** signs. The way you can think about it is **+** adds an element and **=** reassigns the variable.

In [ ]:
# EXAMPLE

veg = ["zucchini", "cucumber"]

veg += ["potato"]
veg

### <center>  * * * Good Coding Practice Moment * * * <center>
#### What is += ?

When you want to write an equation that modifies a variable but doesn't change it's name you can combine operators as follows
    
          a = a+2          is the same as             a += 2
          b = b-2          is the same as             b -= 3
          c = c*4          is the same as             c *= 4
          d = d/5          is the same as             d /= 5
    

### <center> * * * * * * * * * * * * * * * * * * * * * * * * * * * * <center>

The important thing to remember is that **+=** can only work with elements of the same type. If you want to add somthing to a list, the element must be in the form of a list as well. Let's see what would happen if we will try to add a non-list element to a list.

In [ ]:
veg += "bell pepper"
veg

Python knows that the string "bell pepper" is not a list, but it **does** understand that the string can be turned into a list. So it's coded to turn the string into a list of characters, and add the result to our list.

What happens if you re-run the previous cell?

Now practice adding Spongebob to the list of `apprentices` using += signs. Remember that Spongebob must be added as a form of a list!

In [ ]:
# EXERCISE

...
apprentices

In [ ]:
grader.check("q9")

### 1.3 Deleting Elements<a name='subsection3'></a>

Python has three built-in functions and methods for deleting elements from a list.

Method **del** works with indices and allows for the deletion of parts of the list through slicing.

In [ ]:
# EXAMPLE

random_list = ['Zoom', 1, 7, 9, "Python", "Berkeley","Python"]
print(random_list)

del random_list[0:2]

random_list

Make sure that you specify which elements you want to delete or it will delete the entire list.

In [ ]:
del random_list
random_list

Method **.pop(  )** works with indices. It is the last symbol/character/object by default, but you can add a specific index.

In [ ]:
# EXAMPLE
random_list = ['Zoom', 1, 7, 9, "Python", "Berkeley","Python"]

random_list.pop()

In [ ]:
# EXAMPLE

random_list.pop(0)

Notice that **.pop(  )** outputs the thing it removed from the list. Can you think of a reason why this would be useful?

In [ ]:
# EXAMPLE

state = ["California", "is", "on the", "West Coast"]
print(state)
last = state.pop()
print(state)
print(last)

Another method you can use for lists is **.remove()**. This method uses the exact values (case matters too).

In [ ]:
# EXAMPLE

random_list.remove("Python")
random_list

(Note that this method removes all the instances of "Python")

Now we will go back to our `apprentices` list and practice removing elements using the methods we just learned above!

1. Use the **delete** function to remove Noemi and Spongebob from the end of the list

*Hint: If you want to specify the last item in the list, you can use [-1].
Similarly the second to last element is specified by [-2]*

In [ ]:
# EXERCISE
apprentices = ['Alejo','Ananda','Angela','Chris','Casper','Eric','Eric','Evelyn','Fernando','Gregory','Jason','Katherine','Klade','Naod','Noemi','Pawandeep','Nicho','Ryan','Sophie','Tammy','TJ','Vivian','Vivian','Zena','Noemi','SpongeBob']

# use the del function
...
...

print(apprentices)

In [ ]:
grader.check("q10")

2. Use the pop method to remove Casper from spot 4

In [ ]:
# EXERCISE

#pop method
popped_item = ...
print(popped_item)
print(apprentices)

In [ ]:
grader.check("q11")

3. Use the remove method to remove Nicho and then use the method of your choice to add Nicho back in to Spot 13

In [ ]:
# EXERCISE

#remove method
...
...
print(apprentices)

In [ ]:
grader.check("q12")

In [ ]:
# Challenge Exercise
# Remember your teams from an earlier chalange?
team1 = ['Alejo', 'Eric', 'Gregory', 'Naod', 'Sophie', 'Vivian']
team2 = ['Ananda', 'Eric', 'Jason', 'Pawandeep', 'Tammy', 'Zena']
team3 = ['Angela', 'Evelyn', 'Katherine', 'Nicho', 'TJ']
team4 = ['Chris', 'Fernando', 'Klade', 'Ryan', 'Vivian','Noemi']


# Lets say that Angela can't make it one day.
# Remove Angela from Team 3, then remove Sophie from Team 1 and add her to Team 3.
# Optional: See if you can do all of that in one line of code.

team3[0]= ...

print('Team 1:', team1)
print('Team 2:', team2)
print('Team 3:', team3)
print('Team 4:', team4)

In [ ]:
grader.check("q13")

### 1.4 Length of a list<a name='subsection4'></a>

Built-in function **len(   )** can also be used to figure out the length of a list - in other words, the total count of elements in a list.

In [ ]:
# EXAMPLE
# Before running this cell, think what the output will be.

teamColors = ["Red", "Blue", "Yellow", "Green"]
len(teamColors)

When used with lists, it counts only the "outer" objects. Meaning, if there are lists inside of your list, no matter however many objects each of them has, the len(  ) will count the whole list as a single object.

In [ ]:
listOfLists = [[1,2,3,4],[4,5,6]]

# Before running this cell, can you guess the output it will give you?

len(listOfLists)

In [ ]:
len(listOfLists[0])

### 1.5 Operations on a list<a name='subsection5'></a>

In [ ]:
# EXAMPLE

my_numbers = [1, 2, 3, 4, 5]

my_numbers + 2

As you can see above, Lists do not support "+" as a addition, rather the "+" operator combines, or **concatenates** multiple lists. In order to concatenate, or glue elements together, they must the same data type or data structure.

In [ ]:
my_numbers + [2]

In [ ]:
list_one = [1, 2, 3]
list_two = [4, 5, 6]
list_three = list_one + list_two
list_three

Can you guess the output of the next cell?

In [ ]:
# EXAMPLE

my_numbers * 2

---
## Dictionaries <a name='section2'></a>

Dictionaries are used to store data values in **key:value** pairs. A dictionary is a collection which is ordered, changeable, and does not allow duplicates. Dictionaries are very useful when you are working with a lot of data with similar categories.

In [ ]:
# EXAMPLE

# A dictionary with various attributes for player 1

player1 = {
    "name": "myName",
    "position" : [0,1],
    "direc" : [1,0],
    "placeInLine" : 3,
    "team" : "Red"
}

player1

You can use the key name to retrieve values:

In [ ]:
# Use square brackets [] instead of parentheses (), like with a list
print(player1["team"])

# You can also use the "get" method of any dictionary to retrieve values
print(player1.get("position"))

The get() method won't break when you ask it for a key that isn't there. Instead, it'll return `None` by default. You can also tell it what to give back when the key isn't there.

In [ ]:
# This key isn't in the dictionary - it will raise an error
player1["key not in dictionary"]

In [ ]:
# This key isn't in the dictionary - but it will return None
player1.get("key not in dictionary")

In [ ]:
# This key isn't in the dictionary, but we can specify what to return if it's missing
player1.get("key not in dictionary","this key wasn't in the dictionary!")

Duplicates are **not** allowed in dictionaries. This means that if you have a duplicate key, the value will be overwritten:

In [ ]:
player1 = {
    "name": "myName",
    "position" : [0,1],
    "direc" : [1,0],
    "num_balls_moved" : 3,
    "team" : "Red",
    "team" : "Blue"
}

player1

Values in a dictionary can be of any type! (You can also use integers and floats for keys instead of strings)

Do you have to rewrite the whole dictionary each time to update it? No! You can change, add, and delete values:

In [ ]:
# the player completes a round and adds a ball to their team's bucket.
# We'd better update the `num_balls_moved` variable for that player
player1["num_balls_moved"] += 1

player1

In [ ]:
#Similarly we can add a key:value pair

player1["place_in_line"] = 3

player1

In [ ]:
#Deleting is similar to lists - use pop() or del

player1.pop("place_in_line")
del player1["name"]

player1

In [ ]:
#And we can empty the whole dictionary using clear!

player1.clear()
player1

---
Notebook developed by: Kseniya Usovich, Rachel McCarty, Baishakhi Bose, Alisa Bettale, Laurel Hales, Lawrence Chen, Arianna Formenti, Sage Miller, Evan Neill