# Genomics Data Notebook 1: Preparing Our Data for Analysis



---

### Goals For This Notebook:

1 - Load the algae RNA sequencing data and perform some Exploratory Data Analysis.<br>

2 - Clean the data.<br>

3 - Save our data into a new csv file.<br>

---

### Table of Contents

1 - [Loading the Data](#section1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 - [What are the dimensions of our data?](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 - [What is tracking ID?](#subsection2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.3 - [What are our other columns?](#subsection3)<br>

2 - [Understanding and Cleaning the Data](#section2)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1 - [Making More Readable Column Names](#subsection4)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2 - [Understanding the Data Values](#subsection5)<br>

---

<img src="images/algae.png" align="left">

For the genomics data notebooks, we will be working with RNA sequencing data from an experiment measuring gene expression in the algae _Chromochloris zofingiensis_.
    
This algae is important for a couple of reasons:  
1. It stores large amounts of energy from the sun, which can then be turned into biofuel.
2. It produces molecules that are beneficial for human health, like antioxidants.

Recently, scientists performed an experiment to figure out which genes were most important for these functions. You can read more about the experiment [here](https://www.pnas.org/content/114/21/E4296). Specifically pay attention to the section titled "High Light-Induced Gene Expression" (under Results and Discussion), where scientists looked at which genes were 'turned on' (i.e. increased their expression levels) when _C. zofingiensis_ samples were exposed to stronger light.

**Question 1** Why would it be helpful for scientists to know which genes were expressed when the algae was exposed to high light?

*Your answer here*

In this notebook, you will get to know the genomics dataset through Exploratory Data Analysis. You will also clean the dataset and then perform further data analysis in future notebooks.

Let's first get started by importing the libraries we need:

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1. Loading the Data<a id='section1'></a>

Now we want to import "rnaseq_raw_counts.txt" to the variable name `rna_data`. We must include the fact that the file is saved in the folder _data_, so the computer knows where to look for the csv file! We add the foldername before the filename and add a slash (/) between - e.g. 'data/results.csv'

Before importing it, take a look at "rnaseq_raw_counts.txt". Notice that each value is separated by tabs instead of commas. **This means we want to use the argument `sep='\t'` in the `pd.read_csv()` function call.** The argument tells the computer that the file's values are separated by tabs instead of commas.

In [5]:
# EXERCISE

rna_data = pd.read_csv("data/rnaseq_raw_counts.txt", sep="\t")

### 1.1 What are the dimensions of our data?<a id='subsection1'></a>

Great! Now let's learn more about our data set.

Find out how many rows and columns there are in our `rna_data` table.

**Hint:** You can use the `len()` function. For columns, you will need an extra step and use the `len()` function after you use `.columns` on your dataframe. Alternatively, you can use `.shape` - look up on Google how to use the `.shape` function.

In [6]:
# EXERCISE

num_rows = len(rna_data) # OR rna_data.shape[0]
num_columns = len(rna_data.columns) # OR rna_data.shape[1]

print("# of rows: " + str(num_rows))
print("# of columns: " + str(num_columns))

# of rows: 15369
# of columns: 45

That's a lot of data! Let's take a quick peek at the data table and see what we are working with. Notice that we cannot see every single column name; instead there is a "column" with ellipses (...) instead.

In [7]:
rna_data.head()

,tracking_id,HL.0.5h0,HL.0.5h1,HL.0.5h2,HL.0.5h3,HL.12h0,HL.12h1,HL.12h2,HL.12h3,HL.1h0,...,ML.1h2,ML.1h3,ML.3h0,ML.3h1,ML.3h2,ML.3h3,ML.6h0,ML.6h1,ML.6h2,ML.6h3
0,Cz01g00020,657,534,710,501,332,348,300,413,316,...,590,667,460,463,524,458,296,285,272,110
1,Cz01g00030,255,303,257,244,154,140,147,144,210,...,224,302,199,243,215,235,182,184,160,47
2,Cz01g00040,90,71,94,87,149,204,150,220,36,...,81,67,81,78,84,89,129,98,115,57
3,Cz01g00050,49,46,73,42,134,169,145,155,23,...,53,65,69,63,67,61,99,86,69,38
4,Cz01g00060,36,33,51,39,46,52,38,44,20,...,37,54,31,20,31,22,47,38,29,19

### 2. What is `tracking_id`? <a id='subsection2'></a>

The column `tracking_id` refers to the id of a specific gene we are tracking. Each one is in the form 'Cz##g#####'.

- 'Cz' means that the gene is from the algae species _Chromochloris zofingiensis_.
- '##g' (the next two digits + 'g') tell us which chromosome the gene is on.
- '#####' (the last few digits) are a randomly assigned ID number.

Let's check if each gene ID is unique. Look back at notebook 07 (pandas dataframes) to remind yourself what function we can use to find the number of unique tracking IDs.

In [8]:
# EXERCISE

rna_data["tracking_id"].nunique()

15369

**Question 2** Compare the number of unique IDs to the number of rows. Notice that they are the same number. What does that mean?

**KEY: Each row is unique in this dataset.**

### 3. What are our other columns? <a id='subsection3'></a>

Now that we have explored the first column, let's take a look at the remaining columns. In the cell below, print out the names of all of the columns.

In [9]:
# EXERCISE

rna_data.columns

Index(['tracking_id', 'HL.0.5h0', 'HL.0.5h1', 'HL.0.5h2', 'HL.0.5h3',
       'HL.12h0', 'HL.12h1', 'HL.12h2', 'HL.12h3', 'HL.1h0', 'HL.1h1',
       'HL.1h2', 'HL.1h3', 'HL.3h0', 'HL.3h1', 'HL.3h2', 'HL.3h3', 'HL.6h0',
       'HL.6h1', 'HL.6h2', 'HL.6h3', 'ML.0.5h0', 'ML.0.5h1', 'ML.0.5h2',
       'ML.0.5h3', 'ML.0h0', 'ML.0h1', 'ML.0h2', 'ML.0h3', 'ML.12h0',
       'ML.12h1', 'ML.12h2', 'ML.12h3', 'ML.1h0', 'ML.1h1', 'ML.1h2', 'ML.1h3',
       'ML.3h0', 'ML.3h1', 'ML.3h2', 'ML.3h3', 'ML.6h0', 'ML.6h1', 'ML.6h2',
       'ML.6h3'],
      dtype='object')

**Question 3** Take a look at all of the column names other than the `tracking_id` column. What is similar about all of the names? What is different? Do you have any guesses about what these might mean?

**KEY: Two groups - HL and ML (high light / medium light). There's also some similar numbers before h, which could stand for "hours"**

## 2. Understanding and Cleaning the Data <a id='section2'></a>

Now that we have an idea of what our columns look like, we can make our table easier to work with through data cleaning. Here are some of our main goals for cleaning the data:
- Creating a table index that is useful
- Changing column labels to be more readable
- Finding and addressing null values

Let's start with the first objective. Earlier, we found out that each `tracking_id` is unique, so we can make `tracking_id` our table index. This makes it easier to find data associated with a specific gene.

Be a data scientist and do some online research to find out how to use the pandas function `set_index()`, then use it in the cell below:

In [10]:
# EXERCISE

rna_data = rna_data.set_index("tracking_id")

rna_data.head()

,HL.0.5h0,HL.0.5h1,HL.0.5h2,HL.0.5h3,HL.12h0,HL.12h1,HL.12h2,HL.12h3,HL.1h0,HL.1h1,...,ML.1h2,ML.1h3,ML.3h0,ML.3h1,ML.3h2,ML.3h3,ML.6h0,ML.6h1,ML.6h2,ML.6h3
tracking_id,,,,,,,,,,,,,,,,,,,,,
Cz01g00020,657,534,710,501,332,348,300,413,316,394,...,590,667,460,463,524,458,296,285,272,110
Cz01g00030,255,303,257,244,154,140,147,144,210,201,...,224,302,199,243,215,235,182,184,160,47
Cz01g00040,90,71,94,87,149,204,150,220,36,56,...,81,67,81,78,84,89,129,98,115,57
Cz01g00050,49,46,73,42,134,169,145,155,23,21,...,53,65,69,63,67,61,99,86,69,38
Cz01g00060,36,33,51,39,46,52,38,44,20,26,...,37,54,31,20,31,22,47,38,29,19

### 2.1 Making More Readable Column Names <a id='subsection4'></a>

Well done! Now let's talk about the other columns.

You may have noticed earlier that they follow a structure.
- 'HL' or 'ML' refers to whether the algae grew in 'high light' or 'medium light' respectively.
- '##h' tells us how many hours the algae was exposed to the light before a sample was collected.
    - For HL, the range of times is [0.5, 12, 1, 3, 6].
    - For ML, the range of times is [0.5, 0, 12, 1, 3, 6].
- '#' (the last digit) is an indicator of what replication of the sample it is.
    - Each experiment has 4 replications labeled 0, 1, 2, or 3.

The column `HL.0.5h0` can be read as "high light for 0.5 hours -- sample 0".

This format is hard to read with the period after 'HL'/'ML' and the 'h' denoting that the time is in hours. Let's change the column names so that it is easier for us to read. We have provided new column names for you to use in the following format.
- '##' (the first few digits) tell us the number of hours of light exposure.
- 'HL' or 'ML' denotes the light intensity.
- '-#' gives us the replication number.

The column `0.5HL-0` can be read as "0.5 hours of high light for sample 0".

_Quick Note:_ This format is better in terms of readability, but it might not be best for future coding uses and analyses! In data science, we sometimes have to compromise between readability and practicality. In this case, we want you to understand the data well, so we chose to emphasize readibility over practicality.

In [11]:
rna_new_columns = ['0.5HL-0', '0.5HL-1', '0.5HL-2', '0.5HL-3',
        '12HL-0', '12HL-1', '12HL-2', '12HL-3', 
        '1HL-0', '1HL-1', '1HL-2', '1HL-3', 
        '3HL-0', '3HL-1', '3HL-2', '3HL-3', 
        '6HL-0', '6HL-1', '6HL-2', '6HL-3',

        '0.5ML-0', '0.5ML-1', '0.5ML-2','0.5ML-3', 
        '0ML-0', '0ML-1', '0ML-2', '0ML-3', 
        '12ML-0', '12ML-1', '12ML-2', '12ML-3', 
        '1ML-0', '1ML-1', '1ML-2', '1ML-3',
        '3ML-0', '3ML-1', '3ML-2', '3ML-3', 
        '6ML-0', '6ML-1', '6ML-2', '6ML-3']

Relabel the columns of `rna_data` to the given labels in `rna_new_columns`.

In [12]:
# EXERCISE

rna_data.columns = rna_new_columns

rna_data.head()

,0.5HL-0,0.5HL-1,0.5HL-2,0.5HL-3,12HL-0,12HL-1,12HL-2,12HL-3,1HL-0,1HL-1,...,1ML-2,1ML-3,3ML-0,3ML-1,3ML-2,3ML-3,6ML-0,6ML-1,6ML-2,6ML-3
tracking_id,,,,,,,,,,,,,,,,,,,,,
Cz01g00020,657,534,710,501,332,348,300,413,316,394,...,590,667,460,463,524,458,296,285,272,110
Cz01g00030,255,303,257,244,154,140,147,144,210,201,...,224,302,199,243,215,235,182,184,160,47
Cz01g00040,90,71,94,87,149,204,150,220,36,56,...,81,67,81,78,84,89,129,98,115,57
Cz01g00050,49,46,73,42,134,169,145,155,23,21,...,53,65,69,63,67,61,99,86,69,38
Cz01g00060,36,33,51,39,46,52,38,44,20,26,...,37,54,31,20,31,22,47,38,29,19

### 2.2 Understanding the Data Values <a id='subsection5'></a>

To get a better understanding of the data we are working with, take a look at the data in the first 10 rows and first 10 columns. Use `iloc` to do this (you can look back at notebook 07 to remind yourself how iloc works).

In [13]:
# EXERCISE

rna_data.iloc[0:10, 0:10]

,0.5HL-0,0.5HL-1,0.5HL-2,0.5HL-3,12HL-0,12HL-1,12HL-2,12HL-3,1HL-0,1HL-1
tracking_id,,,,,,,,,,
Cz01g00020,657,534,710,501,332,348,300,413,316,394
Cz01g00030,255,303,257,244,154,140,147,144,210,201
Cz01g00040,90,71,94,87,149,204,150,220,36,56
Cz01g00050,49,46,73,42,134,169,145,155,23,21
Cz01g00060,36,33,51,39,46,52,38,44,20,26
Cz01g00070,155,114,180,139,93,95,71,119,62,80
Cz01g00080,336,307,360,378,301,332,240,318,232,275
Cz01g00090,206,189,231,134,76,80,56,62,100,155
Cz01g00100,1827,1527,1932,1689,780,969,735,1003,695,1004
Cz01g00110,265,242,306,245,340,508,331,472,132,201

**Question 4** We have a full understanding of our data table's labels, so let's now consider what the values in the table represent. What data type(s) are the values in the table? What do you think they might represent?

**KEY: Numerical data. Number of RNA reads for each gene.**

Check if there is any missing data in the following cell (look back at notebook 07). Based on your answer above, think about whether this would affect our data analysis later.

In [14]:
# EXERCISE

rna_data.isnull().sum()

0.5HL-0    0
0.5HL-1    0
0.5HL-2    0
0.5HL-3    0
12HL-0     0
12HL-1     0
12HL-2     0
12HL-3     0
1HL-0      0
1HL-1      0
1HL-2      0
1HL-3      0
3HL-0      0
3HL-1      0
3HL-2      0
3HL-3      0
6HL-0      0
6HL-1      0
6HL-2      0
6HL-3      0
0.5ML-0    0
0.5ML-1    0
0.5ML-2    0
0.5ML-3    0
0ML-0      0
0ML-1      0
0ML-2      0
0ML-3      0
12ML-0     0
12ML-1     0
12ML-2     0
12ML-3     0
1ML-0      0
1ML-1      0
1ML-2      0
1ML-3      0
3ML-0      0
3ML-1      0
3ML-2      0
3ML-3      0
6ML-0      0
6ML-1      0
6ML-2      0
6ML-3      0
dtype: int64

It's a good thing we have no missing data! It seems like all of our data values are numbers, so let's see what range of values are under our `0.5HL-0` column. 

Find the minimum value, maximum value, and mean in the `0.5HL-0` column (again notebook 07 can give you helpful reminders on what functions to use).

In [15]:
#EXERCISE

min_val_1 = rna_data["0.5HL-0"].min() 
max_val_1 = rna_data["0.5HL-0"].max() 
mean_val_1 = rna_data["0.5HL-0"].mean() 

print("Minimum 0.5HL-0 value: " + str(min_val_1))
print("Maximum 0.5HL-0 value: " + str(max_val_1))
print("Mean 0.5HL-0 value: " + str(mean_val_1))

Minimum 0.5HL-0 value: 0
Maximum 0.5HL-0 value: 923998
Mean 0.5HL-0 value: 458.6757759125512

It seems like there is a large range of numbers under this column. Choose another column and check if it has a range of values that is just as large as `0.5HL-0`. Feel free to try multiple different columns.

In [16]:
#EXERCISE

min_val_2 = rna_data["0.5ML-0"].min() 
max_val_2 = rna_data["0.5ML-0"].max() 
mean_val_2 = rna_data["0.5ML-0"].mean()

print("Minimum value: " + str(min_val_2))
print("Maximum value: " + str(max_val_2))
print("Mean value: " + str(mean_val_2))

Minimum value: 0
Maximum value: 772184
Mean value: 373.1059275164292

Why are the range of values so broad for most columns? 

The values in our data table represent the number of "turned on" genes under the given light conditions. Some genes may turn on more under lower light conditions while others may turn on more under higher light conditions. We might also see that some genes may turn on more after longer light exposure than they will under shorter light exposure.

In order to analyze, this however, we need to be able to look at numbers that range from 0 to the hundreds of thousands! We will address this issue in the next notebook. 

Let's save our progress by using the `.to_csv()` function to save the dataframe `rna_data`, to "rna_data_cleaned.csv". Don't forget to specify to save it in the *data* folder.

In [17]:
# EXERCISE

rna_data.to_csv("data/rna_data_cleaned.csv")

Notebook developed by: Ciara Acosta, Sharon Greenblum, Alisa Bettale